<div class="resume">
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">About us</p>
         </div>
        <p>I am seeking a challenging and rewarding position that will allow me to both utilize my expertise and acquire new abilities.</p>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Education</p>
         </div>
      <ul>
            <li>
                <div class="date">2015 - 2016</div> 
                <div class="info">
                     <p class="semi-bold">Secondary School</p> 
                  <p>Tamilnadu state board at St.Joseph's Convent HSS 
                    Percentage : 92%</p>
                </div>
            </li>
            <li>
              <div class="date">2017 - 2018</div>
              <div class="info">
                     <p class="semi-bold">Higher Secondary School</p> 
                  <p>Tamilnadu state board at St.Joseph's Convent HSS 
                    Percentage : 76%</p>
                </div>
            </li>
            <li>
              <div class="date">2018 - 2022</div>
              <div class="info">
                     <p class="semi-bold">Bachelor Degree</p> 
                  <p>Computer Science Engineering at Stella Mary's College of Engineering 
                    Percentage : 72%</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="resume_item resume_work">
      <div class="title">
         <p class="bold">Certification</p>
       </div>
      <ul>
          <li>
              <div class="date">Paper Presentation</div> 
              <div class="info">
                   <p class="semi-bold">Use of AI in Chat Bots</p> 
                <p>secured 1st prize in one day NATIONAL LEVEL SYMPOSIUM "TechFest720"</p>
              </div>
          </li>
          <li>
            <div class="date">Hackathon 2020</div>
            <div class="info">
                   <p class="semi-bold">Smart India Hackathon 2020</p> 
                <p>Participated in SIH 2020, Problem statement titled "GIS in flood risk assessment"</p>
              </div>
          </li>
          <li>
            <div class="date">International Conference</div>
            <div class="info">
                   <p class="semi-bold">Nano Technology</p> 
                <p>International Conference on Advance in Material Science & Nanotechnology (ICMN2K19)</p>
                </div>
          </li>  
          <li>    
           <div class="info">
                   <p class="semi-bold">Securing Data and Auditing using Bilinear key Aggregate Cryptosystems in cloud computing</p> 
                <p>International Conference on "Sustainable Development" (KGC-2019)</p>    
              </div>
          </li>
      </ul>
  </div>
    <div class="resume_item resume_hobby">
      <div class="title">
           <p class="bold">Hobby</p>
         </div>
       <ul>
         <li><i class="fas fa-dog"></i></li>
         <li><i class="fas fa-photo-video"></i></li>
         <li><i class="fas fa-music"></i></li>
         <li><i class="fas fa-candy-cane"></i></li>
      </ul>
    </div>
  </div>
  </div> 