<div class="resume">
   <div class="resume_left">
    <div class="resume_profile">
      <img src="assets/resume_profile.jpeg">
    </div>
    <div class="resume_content">
      <div class="resume_item resume_info">
        <div class="title">
          <p class="bold">LAKSHMI PRABHA K</p>
          <p class="regular">STUDENT</p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fas fa-map-signs"></i>
            </div>
            <div class="data">
              32/1 KURUNTHERU KOTTAR <br /> NAGERCOIL
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="data">
              8524099255
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="data">
              prabhalp2001@gmail.com
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_skills">
        <div class="title">
          <p class="bold">skill's</p>
        </div>
        <ul>
          <li>
            <div class="skill_name">
              HTML
            </div>
            <div class="skill_progress">
              <span style="width: 70%;"></span>
            </div>
            <div class="skill_per">70%</div>
          </li>
          <li>
            <div class="skill_name">
              CSS
            </div>
            <div class="skill_progress">
              <span style="width: 70%;"></span>
            </div>
            <div class="skill_per">70%</div>
          </li>
          <li>
            <div class="skill_name">
              Python
            </div>
            <div class="skill_progress">
              <span style="width: 80%;"></span>
            </div>
            <div class="skill_per">80%</div>
          </li>
          <li>
            <div class="skill_name">
              Java
            </div>
            <div class="skill_progress">
              <span style="width: 60%;"></span>
            </div>
            <div class="skill_per">60%</div>
          </li>
          <li>
            <div class="skill_name">
              C
            </div>
            <div class="skill_progress">
              <span style="width: 70%;"></span>
            </div>
            <div class="skill_per">70%</div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_social">
        <div class="title">
          <p class="bold">Social</p>
        </div>
        <ul>
          <li>
            <div class="icon">
             <i class="fa fa-instagram fa-5x" aria-hidden="true"> </i>
            </div>
            <div class="data">
              <p class="semi-bold">Instagram</p>
              <p>prabha_kannan13</p>
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fab fa-linkedin"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Linkedin</p>
              <p>lakshmi-prabha-k@linkedin</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
 </div>
</div>
